@import "compass/css3";

.bt{
    
    margin:270px 80px 100px;
    p{
        padding: 10px;
        text-align: center;
        border: solid 2px blue;
        @include border-radius(5px);
    }
    #start{
        background-color: azure;
    }
    #login{
        background-color: royalblue;
        color: white;
    }

   
}
div{
    text-align: center;
}
body{
    background-color: gainsboro;
}