@import "compass/css3";

body{
    h1{
        text-align: center;
    }
    background-color: gainsboro;
    .input{
        
        #name{
            text-align: center;
            padding: 5px;
            margin-left: 50px;
            margin-right: 50px;
            color: gainsboro;
            background-color: white;
            border: solid 2px black;
            @include border-radius(5px);
        }
        #birth{
            text-align: center;
            padding: 5px;
            margin-left: 50px;
            margin-right: 50px;
            color: gainsboro;
            background-color: white;
            border: solid 2px black;
            @include border-radius(5px);
        }
        #campass{
            text-align: center;
            padding: 5px;
            margin-left: 50px;
            margin-right: 50px;
            color: gainsboro;
            background-color: white;
            border: solid 2px black;
            @include border-radius(5px);
        }
        
        form{
            text-align: center;
            select{
                margin: auto;
                width:200px;   
            }
        }
        #mail{
            text-align: center;
            padding: 5px;
            margin-left: 50px;
            margin-right: 50px;
            color: gainsboro;
            background-color: white;
            border: solid 2px black;
            @include border-radius(5px);
        }
    }
    .bt{
        p{
            text-align: center;
            margin-top: 100px;
            margin-left: 60px;
            margin-right: 60px;
            padding: 7px;
            color: white;
            border: solid 2px blue;
            @include border-radius(20px);
            //グラデーション
            @mixin gradient-top-lighten($color:#4169e1, $lighten:30%){
                background-color: $color;
                @include filter-gradient(lighten($color, $lighten), $color, vertical);
                @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
            }
            @include gradient-top-lighten(#4169e1);
        }
    }
    
}
