@import "compass/css3";

body{
    background-color: gainsboro;
    h2{
        margin-right: 155px;
        text-align: left;
        border: solid 2px black;
        @include border-radius(7px);
    }
    #navi{
        border: solid 1px black;
        margin-left: 0.5px;
        margin-right: 0.5px;
        padding-top: 7px;
        padding-bottom: 7px;
        span{
            padding: 7px 9px;
            border: solid 1px black;
            @include border-radius(5px);
        }
    }
    .calender{
        border: 1px solid;
        background-color: white;
        #month{
            text-align: left;
            text-decoration: underline;
        }
        table{
            width: 300px;
            height: 300px;
            border: 1px solid;
            
            td{
                text-align: center;
                border: 1px solid;
                padding: 2 2;
            }
            
            th{
                text-align: center;
                border: 1px solid;
            }
        }
    }
    
}   