@import "compass/css3";



body{
    background-color:  gainsboro;

    header{
        text-align: center;
    }
    .bt{
        #Tw{
            background-color: lightskyblue;
        }
        #FB{
            background-color: navy;
        }
        #register{
            background-color: white;
        }
        p{
            margin-left: 50px;
            margin-right: 50px;
            padding: 10px;
            text-align: center;
            border: solid 2px black;
            @include border-radius(5px);
        }
    }
    
  /*  #register{
        margin-bottom: 100px;
    }
    */
    #sn1{
        margin-top: 100px;
        h3{
            text-align: left;
        }
        
    }
    sn2{
//        margin-bottom: 50px;
        h3{
            text-align:left;   
        }
    }
    
}      


/* p{
        text-align: center;
        border: solid 2px black;  
        @include border-radius(5px);
     }*/