@import "compass/css3";

body{
    header{
         background-color: slategray;
    }
    background-color: gainsboro;
    h1{
        text-align: center;
    }
    .input{
        text-align: center;
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
        color: lightgrey;
        #mail{
            border: solid 2px black;
            @include border-radius(5px);
            background-color: white;
            padding: 10px;
        }
        #pw{
            border: solid 2px black;
            @include border-radius(5px);
            background-color: white;
            padding: 10px;
        }
    }
    #login{
        margin-top: 70px;
        margin-left: 60px;
        margin-right: 60px;
        padding: 10px;
        color: white;
        text-align: center;
        border: solid 2px blue;
        @include border-radius(20px);
        //グラデーション
        @mixin gradient-top-lighten($color:#4169e1, $lighten:30%){
            background-color: $color;
            @include filter-gradient(lighten($color, $lighten), $color, vertical);
            @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
        }
        @include gradient-top-lighten(#4169e1);
     
    }
}