/* line 5, ../sass/A0002.scss */
body {
  background-color: gainsboro;
  /*  #register{
        margin-bottom: 100px;
    }
    */
}
/* line 8, ../sass/A0002.scss */
body header {
  text-align: center;
}
/* line 12, ../sass/A0002.scss */
body .bt #Tw {
  background-color: lightskyblue;
}
/* line 15, ../sass/A0002.scss */
body .bt #FB {
  background-color: navy;
}
/* line 18, ../sass/A0002.scss */
body .bt #register {
  background-color: white;
}
/* line 21, ../sass/A0002.scss */
body .bt p {
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  text-align: center;
  border: solid 2px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 35, ../sass/A0002.scss */
body #sn1 {
  margin-top: 100px;
}
/* line 37, ../sass/A0002.scss */
body #sn1 h3 {
  text-align: left;
}
/* line 44, ../sass/A0002.scss */
body sn2 h3 {
  text-align: left;
}

/* p{
        text-align: center;
        border: solid 2px black;  
        @include border-radius(5px);
     }*/
