/* line 3, ../sass/A0004(top).scss */
body {
  background-color: gainsboro;
}
/* line 5, ../sass/A0004(top).scss */
body h2 {
  margin-right: 155px;
  text-align: left;
  border: solid 2px black;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
/* line 11, ../sass/A0004(top).scss */
body #navi {
  border: solid 1px black;
  margin-left: 0.5px;
  margin-right: 0.5px;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* line 17, ../sass/A0004(top).scss */
body #navi span {
  padding: 7px 9px;
  border: solid 1px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 23, ../sass/A0004(top).scss */
body .calender {
  border: 1px solid;
  background-color: white;
}
/* line 26, ../sass/A0004(top).scss */
body .calender #month {
  text-align: left;
  text-decoration: underline;
}
/* line 30, ../sass/A0004(top).scss */
body .calender table {
  width: 300px;
  height: 300px;
  border: 1px solid;
}
/* line 35, ../sass/A0004(top).scss */
body .calender table td {
  text-align: center;
  border: 1px solid;
  padding: 2 2;
}
/* line 41, ../sass/A0004(top).scss */
body .calender table th {
  text-align: center;
  border: 1px solid;
}
