/* line 3, ../sass/A0001.scss */
.bt {
  margin: 270px 80px 100px;
}
/* line 6, ../sass/A0001.scss */
.bt p {
  padding: 10px;
  text-align: center;
  border: solid 2px blue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 12, ../sass/A0001.scss */
.bt #start {
  background-color: azure;
}
/* line 15, ../sass/A0001.scss */
.bt #login {
  background-color: royalblue;
  color: white;
}

/* line 22, ../sass/A0001.scss */
div {
  text-align: center;
}

/* line 25, ../sass/A0001.scss */
body {
  background-color: gainsboro;
}
