/* line 3, ../sass/A0003.scss */
body {
  background-color: gainsboro;
}
/* line 4, ../sass/A0003.scss */
body header {
  background-color: slategray;
}
/* line 8, ../sass/A0003.scss */
body h1 {
  text-align: center;
}
/* line 11, ../sass/A0003.scss */
body .input {
  text-align: center;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  color: lightgrey;
}
/* line 17, ../sass/A0003.scss */
body .input #mail {
  border: solid 2px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}
/* line 23, ../sass/A0003.scss */
body .input #pw {
  border: solid 2px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}
/* line 30, ../sass/A0003.scss */
body #login {
  margin-top: 70px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 10px;
  color: white;
  text-align: center;
  border: solid 2px blue;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: royalblue;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC5D1F6', endColorstr='#FF4169E1');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c5d1f6), color-stop(100%, #4169e1));
  background-image: -webkit-linear-gradient(#c5d1f6 0%, #4169e1 100%);
  background-image: -moz-linear-gradient(#c5d1f6 0%, #4169e1 100%);
  background-image: -o-linear-gradient(#c5d1f6 0%, #4169e1 100%);
  background-image: linear-gradient(#c5d1f6 0%, #4169e1 100%);
}
